#nav{
    width: 100%;
    height: 60px;
    background-color: black;
    box-sizing: border-box;
    padding-top: 7px;
    display: flex;
}
.logo{
    width: 280px;
}

.leftBox{
    /* border: 1px solid black; */
    width: 465px;
    margin-right: 90px;
}
.leftBox > img{
    width: 80%;
    margin-left: 50px;
}
h1{
    color: #000;
    font-family: proxima-nova,Arial,sans-serif;
    letter-spacing: .3px;
    font-size: 20px;
}
#lightBlue{
    background-color: #e9f1fd;
    width: 460px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 3px;
    display: none;
}
.fullwidth{
    width: 450px;
    height: 40px;
}
.halfwidth{
    width: 150px;
    height: 40px;
}
a{
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.name{
    width: 220px;
    height: 40px;
}
button{
    height: 50px;
    border-radius: 0px;
    background-color: black;
    width: 270px;
    color: white;
    margin-left: 190px;
}
.method{
    /* height: 50px; */
    padding-top: 6px;
    padding-bottom: 6px;
    color: #d0d0d0;
}
.giftcard{
    width: 370px;
    height: 50px;
    margin-left: 20px;
}
#productdetails{
    width: 100% ;
    height: 800px;
    /* background-color: black; */

}
#pimg{
    height: 100px;
}
@media screen and (min-width: 100px) and (max-width:614px) {
    .container{
        display: flex;
        width: 1000px;
        margin: auto;
        
        /* border: 1px solid red; */
        margin-top: 100px;
        /* height: 700px; */
    }
    }
  @media screen and (min-width: 614px)  {
    .container{
        display: flex;
        width: 1000px;
        margin: auto;
        margin-left: 30%;
        /* border: 1px solid red; */
        margin-top: 100px;
        /* height: 700px; */
    }
    
  
  }

  #mainimg{
    margin-left: 46%;
    margin-top: -30px;
}