.sub1 {
  display: grid;
  grid-template-columns: 50px 50px;
  gap: 85px;
  margin-left: 4%;
}
.sub3 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 2%;
  margin-top: 11%;
}
.sub5 {
  display: grid;
  grid-template-columns: 24% 24% 24%;
  column-gap: 4%;
  margin-top: 10%;
  margin-left: 4%;
}
.sub6 {
  display: grid;
  grid-template-columns: 35% 35%;
  grid: 3%;
  margin-top: 15%;
}
.sub7 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  margin-top: -2.989%;
  margin-left: 3%;
  gap: 0.5%;
}
.sub8 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  margin-top: 0.011%;
  margin-left: 6%;
  gap: 2px;
  position: relative;
  top: -55%;
}
h5 {
  margin-left: 15%;
}
strong {
  padding-left: 17%;
  padding-top: 1%;
}
.footer {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  background-color: #fafafa;
  width: 100%;
  margin-left: 2%;
  column-gap: 8%;
}
.footer1 {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  width: 100%;
  margin-left: 1%;
  column-gap: 8%;
}
.footer2 {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  width: 100%;
  margin-left: 2%;
  column-gap: 1%;
}
.footer3 {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  justify-content: space-between;

  gap: 1%;

  margin-left: 10%;
  margin-right: 5%;
  margin-top: 3%;
}
.footer4 {
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12%;
  justify-content: space-between;
  gap: 5%;
  background-color: black;
  width: 119em;
  margin-left: -82%;
  padding: 2em;
}
ul {
  list-style-type: none;
}
li {
  color: grey;
}
#ap {
  width: 120px;
  height: 40px;
}
#gp{
  width:auto  
}
#gp1,
#ap1,
#js1,
#js2 {
  width: 40px;
  height: 50px;
}
.st {
  margin-left: 1%;
}
#im1 {
  width: 50px;
  height: 50px;
  margin-left: 80%;
  margin-top: 0.01%;
}
#s1 {
  color: grey;
  vertical-align: top;
  font-weight: 200;
  font-size: 16px;
  margin-top: 6.5%;
}
#v1 {
  color: grey;
  margin-top: 15%;
  margin-left: 32%;
}
#v2 {
  color: grey;
  margin-top: 15%;
  margin-left: 11%;
}
.i1 {
  width: 70px;
  height: 40px;
}
.i2 {
  width: 60px;
  height: 60px;
}
.a1 {
  color: black;
  margin-left: -17%;
}
.p2 {
  font-size: 12px;
  padding-bottom: 1%;
}
#li1 {
  padding-bottom: 0.2%;
  margin-left: 5%;
}
#subdiv {
  display: flex;
  gap: 20%;
}
#BrandSelect {
  height: 40px;
  width: 350px;
  margin-left: 1%;
  border: solid 2px white;
  border-radius: 2px;
  background-color: black;
  color: white;
}
#sub41 {
  padding-top: 15%;
}
#hi {
  margin-left: 22%;
  margin-top: 6%;
}
.c1 {
  color: whitesmoke;
}
.b {
  color: red;
}
#ft2 {
  margin-left: 20.5%;
}
@media only screen and (max-width: 600px) {
  .sub4 .sub1 {
    display: none;
  }
}

ul li:nth-child(2) {
  margin-top: 10%;
}
#st3{
  margin-left: 1%;
  text-align: center;
}