#header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
header {
  position: sticky;
  padding: 1rem;
  display: flex;
  width: 80%;
  height: 30px;
  margin: 0 10em;
}

#left-header {
  float: left;
  display: flex;
  margin: 10px;
}
#left-header p {
  text-align: center;
  margin: auto;
  margin-top: 2%;
  font: 16px/26px "PT Sans";
  font-weight: bold;
  margin-right: 10px;
}

#right-header {
  display: flex;
  margin-left: 400px;
}

#main-img {
  margin-right: 50px;
}

#searchinput {
  width: 300px;
  border-style: none;
  border-bottom: 2px solid black;
  font-size: 16px;
  background-color: white;
  background-image: url("https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/iconsearch.png");
  background-position: 300px 1px;
  background-repeat: no-repeat;
  padding: 11px 20px 12px 9px;
  margin: 0 0 0 5em;
}
input:focus {
  outline: none;
}

#mediasearchinput {
  width: 100%;
  font-size: 16px;
  background-color: white;
  background-image: url("https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/iconsearch.png");
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.mediasearchdiv {
  display: none;
}

.show {
  display: block;
}

.top-dropdown .top-dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  margin: 0;
}

.top-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  height: auto;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.top-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.top-dropdown:hover .top-dropdown-content {
  display: block;
}

#searchicon-media button {
  background-color: transparent;
  border: none;
  display: none;
}
#wishlist {
  margin: 0 0 0 3%;
}

/* *************Header style ends here************************* */
/* ***********Top navigation style*************** */

.dropdown {
  background-color: white;
  float: left;
  margin-left: 60px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 8px 8px;
  background-color: inherit;
  font-family: inherit;
  margin: 6px 0 12px 0;
  width: 100%;
}

.navbar {
  padding-right: 80px;
  margin: 0 15em;
}

.dropdown:hover .dropbtn {
  border-bottom: 3px solid red;
}
.navbar a:hover {
  text-decoration: underline;
  color: red;

  box-shadow: 0px 8px 16px 0px rgba(59, 59, 59, 0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  height: 530px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  justify-content: left;
}

.dropdown-content li {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
  float: left;
  left: 0px;
}

.idropdown {
  background-color: white;
  float: left;
  width: 100%;
}

/* Dropdown button */
.idropdown .idropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  margin: 0px;
  width: 100%;
}

.navbar a:hover,
.idropdown:hover .idropbtn {
  text-decoration: underline;
  color: red;
}

.idropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  height: 530px;
  width: 100%;
  margin-left: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 0;
  float: right;
  grid-template-columns: 28% 28% 28%;
  grid-gap: 0.5px;
}

.idropdown-content li {
  float: none;
  color: black;
  text-decoration: none;
  display: grid;
}

.idropdown:hover .idropdown-content {
  display: grid;
}

.idropdown:hover .idropdown-content li {
  padding: 5px;
  margin-left: 30px;
  margin-top: 3.5px;
  text-decoration: none;
}

.idropdown:hover .idropdown-content li a {
  text-decoration: none;
  box-shadow: none;
}

ul,
li {
  list-style: none;
}

.responsive-navbar {
  display: none;
}

.responsive-navbar {
  width: 100%;
  padding: 15px;
  margin-left: 3px;
}

.responsive-navbar div {
  display: inline-block;
  text-align: center;
  margin-left: 15px;
}

.responsive-navbar img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

/* ************Sign in *************** */
.show-btn {
  padding: 10px 12px;
}
/* ******************** signin signup container *********** */
.container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  display: none;
}

.container {
  display: none;
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#show:checked ~ .container {
  display: block;
}

.container .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}

.container .close-btn:hover {
  color: red;
}

.container .text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.sign-up-form {
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 20px;
  margin: 2% auto 0;
  text-align: center;
}

.fullname {
  position: relative;
  margin: 0 16px;
  border-bottom: 2px solid #f8f8f8;
  padding: 6px 0;
}

.fullname::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 18px;
  height: 12px;
  background: url(https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/ssl-sprite.png?timeStamp=_ts@082005240124#ts_) -272px -920px
    no-repeat;
}

.email {
  position: relative;
  margin: 0 16px;
  border-bottom: 2px solid #f8f8f8;
  padding: 6px 0;
}

.mobileno {
  position: relative;
  margin: 0 16px;
  border-bottom: 2px solid #f8f8f8;
  padding: 6px 0;
}

.mobileno::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 18px;
  height: 18px;
  background: url(https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/ssl-sprite.png?timeStamp=_ts@082005240124#ts_) -16px -1362px
    no-repeat;
}

.password {
  position: relative;
  margin: 0 16px;
  border-bottom: 2px solid #f8f8f8;
  padding: 6px 0;
}

.password::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 18px;
  height: 18px;
  background: url(https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/ssl-sprite.png?timeStamp=_ts@082005240124#ts_) -297px -920px
    no-repeat;
}

.sign-up-form .fullname input[type="text"],
.sign-up-form .email input[type="email"],
.sign-up-form .password input[type="password"],
.sign-up-form .otpsent input[type="password"] {
  border: 1px solid white;
  width: 95%;
  height: 40px;
  outline: 0;
  font: 14px/21px "PT Sans";
  color: #333;
  padding: 0 12px;
  margin: 0 0 10px;
}

.sign-up-form .fullname input[placeholder],
.sign-up-form .email input[placeholder],
.sign-up-form .password input[placeholder] {
  margin-left: 10px;
}

.sign-up-form .mobileno input[placeholder] {
  margin-left: 10px;
}

.sign-up-form .otpsent input[placeholder] {
  margin-left: 20px;
}

.sign-up-form .mobileno input[type="tel"] {
  border: 1px solid white;
  width: 100%;
  height: 40px;
  outline: 0;
  color: #333;
  padding: 0 12px;
  margin: 0 0 10px;
}

.gender {
  position: relative;
  width: 100%;
  margin: 5px 0 15px;
  padding: 8px 0 15px 50px;
  float: none;
  text-align: left;
}

.gender::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 10px;
  width: 22px;
  height: 18px;
  background: url(https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/ssl-sprite.png?timeStamp=_ts@082005240124#ts_) -322px -920px
    no-repeat;
}

.continue {
  width: 100%;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNWQzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjJjNjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  height: 35px;
  border: none;
  border-radius: 5px;
}

.continue a {
  color: white;
  text-decoration: none;
}

.signinbtn {
  width: 300px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNWQzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjJjNjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  height: 35px;
  border: none;
  color: white;
  border-radius: 5px;
}

.container a {
  color: red;
  text-decoration: none;
}

a + a {
  float: right;
}

.newaccount {
  width: 300px;
  margin: 2% auto;
  text-align: center;
  font: 16px/26px "PT Sans";
  font-weight: bold;
}

.newaccount a {
  text-decoration: none;
  font-weight: 600;
}

.signinemail {
  margin: 5% auto;
  text-align: center;
}

.signinemail a {
  text-decoration: none;
  font: 17px/26px "PT Sans";
  font-weight: bold;
}

.social {
  width: 300px;
  padding: 20px;
  margin: 3% auto 0;
}

.facebook {
  width: 80px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  float: left;
  margin-left: 50px;
}

.facebook img {
  margin-left: 30px;
  height: 20px;
  width: 20px;
}

.google {
  width: 80px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  float: right;
  margin-right: 50px;
}

.google img {
  margin-left: 30px;
  height: 20px;
  width: 20px;
}

.loginsocial {
  width: 200px;
  text-align: center;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 50%;
  font-size: 15px;
  margin-left: 100px;
  padding: 0px;
  margin-top: -15px;
}

.h5signin a {
  color: #ff5d3b;
  text-decoration: none;
  font-weight: 600;
}

/* **************8signup style**************** */

#signupdiv:checked ~ .container {
  display: block;
}

.container .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}

.container .text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.account {
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  font: 16px/26px "PT Sans";
  font-weight: bold;
}

.sign-up-form {
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 20px;
  margin: 2% auto 0;
  text-align: center;
}

.fullname {
  position: relative;
  margin: 0 16px;
  border-bottom: 2px solid #f8f8f8;
  padding: 6px 0;
}

.fullname::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 18px;
  height: 12px;
  background: url(https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/ssl-sprite.png?timeStamp=_ts@082005240124#ts_) -272px -920px
    no-repeat;
}

.email {
  position: relative;
  margin: 0 16px;
  border-bottom: 2px solid #f8f8f8;
  padding: 6px 0;
}

.email::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 18px;
  height: 12px;
  background: url(https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/ssl-sprite.png?timeStamp=_ts@082005240124#ts_) -304px -512px
    no-repeat;
}

.mobileno {
  position: relative;
  margin: 0 16px;
  border-bottom: 2px solid #f8f8f8;
  padding: 6px 0;
}

.mobileno::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 18px;
  height: 18px;
  background: url(https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/ssl-sprite.png?timeStamp=_ts@082005240124#ts_) -16px -1362px
    no-repeat;
}

.password {
  position: relative;
  margin: 0 16px;
  border-bottom: 2px solid #f8f8f8;
  padding: 6px 0;
}

.password::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 18px;
  height: 18px;
  background: url(https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/ssl-sprite.png?timeStamp=_ts@082005240124#ts_) -297px -920px
    no-repeat;
}
.sign-up-form .mobileno input[type="tel"] {
  border: 1px solid white;
  width: 100%;
  height: 40px;
  outline: 0;
  color: #333;
  padding: 0 12px;
  margin: 0 0 10px;
  margin-left: 10px;
}

.gender {
  position: relative;
  width: 100%;
  margin: 5px 0 15px;
  padding: 8px 0 15px 50px;
  float: none;
  text-align: left;
}
/* ************sign up style finish************ */

@media only screen and (max-width: 900px) {
  #left-header img {
    margin-left: 5px;
  }

  #right-header {
    display: flex;
    margin-left: 50px;
  }

  #left-header p {
    display: none;
  }

  #searchinput {
    display: none;
  }

  #searchicon-media button {
    display: block;
    margin: 0;
    padding: 0;
  }

  .responsive-navbar {
    display: block;
  }

  .navbar {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .responsive-navbar {
    display: block;
    padding: 0;
  }

  .responsive-navbar img {
    height: 70px;
    width: 70px;
  }
  .center {
    height: 300px;
  }

  .navbar {
    display: none;
  }

  #wishlist {
    display: none;
  }
}

#signinicon {
  display: none;
}
#left-header-responsive {
  display: none;
}

@media only screen and (max-width: 600px) {
  #main-img img {
    width: 100px;
    margin: 0;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
  header {
    padding: 0;
    height: 40px;
    margin: 0;
    margin-bottom: -20px;
  }
  #left-header {
    display: none;
  }
  #left-header-responsive {
    margin-top: 5px;
    display: inline-block;
  }
  .responsive-navbar {
    display: flex;
    flex-direction: row;
    height: 250px;
    justify-content: center;
    overflow: hidden;
    padding: 0px;
    margin-left: -40px;
    margin-top: -1px;
  }
}

/* *******************Top navigation style finish******************** */
