/* 
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.line{
   
    height: 2px;
    background-color: rgb(201, 197, 197);
    
}
.margin{
    margin: 10px;
}
.bag{
    display: flex;
    margin-top: 20px;
    list-style: none;
}
.one2{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(247, 125, 80);
    margin-left:80px;
    padding: 10px;
    width:250px;
}
 .small-1{
     font-size:13px;
 }
 .container{
    display: flex;
  
height: 400px;
   }
   .top{
    display: flex;
}
@media screen and (min-width: 100px) and (max-width:1000px) {
    .none{
        display: none
    }

}
.proceed{
    width: 200px;height: 20px;
    background-color:rgb(255, 102, 0);
    border-radius:5% ;
    text-align: center;
    margin:50px;
    padding: 5px;
}
#card{
    width: 300px;
    height: 40px;
}
#credit{
    margin-left: 30px;
}
[data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: block;
}
.payment{
    display: flex;
    margin-top: 30px;
}
.payments1>ul>li{
list-style: none;
margin: 5px;
}
.payments1{
    margin-right: 30px;
} */

.shopper{
    margin: auto;
    text-align: center;
}

#cont{
    display: grid;
    grid-template-columns: 67% 29%;  
    gap: 40px;
    width: 90%;
    /* height: 800px; */
    margin: auto;
    /* border: 1px solid black;  */
}



#payment{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding: 5px 30px;
    background-color: rgb(214, 213, 213);
}

#h-img > img{
    width: 100%;
}

#line{
    border: 2px solid orangered;
}

#pay-box{
    display: flex;
    /* border: 1px solid blue; */
    padding: 20px;
    gap: 80px;
}

#method{
    display: grid;
    grid-template-columns: auto;
    font-size: 20px;
    color: rgb(80, 79, 79);
    /* border: 1px solid green; */
}

#card{
    margin-top: -15px;
    /* border: 1px solid green; */
}

input{
    margin-bottom: 10px;
    padding: 10px;
}

#sec{
    display: grid;
    grid-template-columns: auto auto;
}

button{
    margin-top: 10px;
    padding: 13px;
    width: 60%;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

#cont2{
    /* border: 1px solid black; */
    background-color: whitesmoke;
    padding: 20px;
}

span{
    background-color: rgb(252, 227, 217);
    color: orangered;
    padding: 11.5px;
    cursor: pointer;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

@media screen and (min-width: 100px) and (max-width:614px) {
    #cont2{

        display: none;
    }
  
}
  